:root {
  --distance: 500%;
  --bg-Start-End-Color: rgb(0 0 0 / 0);
  --animation-time: 0.7s;
}
.animation-time3,
.animation-time3::backdrop {
  --animation-time: 0.3s;
  transition: display 0.3s allow-discrete, overlay 0.3s allow-discrete,
    background-color 0.3s;
}
.animation-time5,
.animation-time5::backdrop {
  --animation-time: 0.5s;
  transition: display 0.5s allow-discrete, overlay 0.5s allow-discrete,
    background-color 0.5s;
}
.animation-time7,
.animation-time7::backdrop {
  --animation-time: 0.7s;
  transition: display 0.7s allow-discrete, overlay 0.7s allow-discrete,
    background-color 0.7s;
}
.animation-time9,
.animation-time9::backdrop {
  --animation-time: 0.9s;
  transition: display 0.9s allow-discrete, overlay 0.9s allow-discrete,
    background-color 0.9s;
}

.slideFromTop {
  --translate-from: translateY(calc(var(--distance) * -1));
}
.slideFromLeft {
  --translate-from: translateX(calc(var(--distance) * -1));
}
.slideFromRight {
  --translate-from: translateX(var(--distance));
}
.slideFromBottom {
  --translate-from: translateY(var(--distance));
}
/*dialog open css */
.dOpen[open] {
  transform: translate(0);
}
.dOpen {
  transform: var(--translate-from);
}
@starting-style {
  .dOpen[open] {
    transform: var(--translate-from);
  }
}
/* zoom */
.zoomInOut {
  transform: scale(0);
}
.zoomInOut[open] {
  transform: scale(1);
}
@starting-style {
  .zoomInOut[open] {
    transform: scale(0);
  }
}
.dOpen[open] {
  opacity: 1;
}
.dOpen {
  opacity: 0;
  transition: opacity var(--animation-time) ease-out,
    transform var(--animation-time) ease-out,
    overlay var(--animation-time) ease-out allow-discrete,
    display var(--animation-time) ease-out allow-discrete;
}
@starting-style {
  .dOpen[open] {
    opacity: 0;
  }
}

/* Transition the :backdrop when the dialog modal is promoted to the top layer */
.bkd::backdrop {
  background-color: var(--bg-Start-End-Color);
  opacity: 0.65;
}

.redBackdrop[open]::backdrop {
  background-color: rgb(255 0 0 / 0.65);
}
.whiteBackdrop[open]::backdrop {
  background-color: rgb(255 255 255 / 0.65);
}
.blueBackdrop[open]::backdrop {
  background-color: rgb(0 0 255 / 0.65);
}
.blackBackdrop[open]::backdrop {
  background-color: rgb(0 0 0 / 0.65);
}
.transparentBackdrop[open]::backdrop {
  background-color: rgb(0 0 0 / 0);
}

@starting-style {
  .bkd[open]::backdrop {
    background-color: var(--bg-Start-End-Color);
  }
}

/*====================================== for mozilla firefox =============================== */
/* zoom in*/
.zoomInOutMoz[open] {
  animation: zoom-in var(--animation-time) ease-out;
}
@keyframes zoom-in {
  0% {
    transform: scale(0);
    opacity: 0;
  }
  100% {
    transform: scale(1);
  }
}
/* slide from top */
.slideFromTopMoz[open] {
  animation: fromTopIn var(--animation-time) ease-out;
}
@keyframes fromTopIn {
  0% {
    transform: translateY(calc(var(--distance) * -1));
  }
}

/* slide from bottom */
.slideFromBottomMoz[open] {
  animation: fromBottomIn var(--animation-time) ease-out;
}
@keyframes fromBottomIn {
  0% {
    transform: translateY(var(--distance));
  }
}

/* slide from left */
.slideFromLeftMoz[open] {
  animation: fromLeftIn var(--animation-time) ease-out;
}
@keyframes fromLeftIn {
  0% {
    transform: translateX(calc(var(--distance) * -1));
  }
}

/* slide from right */
.slideFromRightMoz[open] {
  animation: fromRightIn var(--animation-time) ease-out;
}
@keyframes fromRightIn {
  0% {
    transform: translateX(var(--distance));
  }
}
